<section data-ng-controller="HomeController">
	<div class="jumbotron">
	<div class="container-fluid landing-page">
		<h1 class="serious">Surf.</h1>
		<h2 class="flourish">Around The Corner</h2>
		<h3 class="serious">Your mates just had a better surf around the corner. Never Again...</h3>
		<a href="/#!/register" class="btn register-btn btn-primary btn-xl" role="button">Register</a>
		<a href="/#!/signin" class="btn register-btn btn-default btn-xl" role="button">Sign In</a>
	</div>
	</div>
</section>
