<section data-ng-controller="LocationController">
    <br />
    <br />
    <br />
    <br />
    <div class="">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" ng-click="setLocationFromCurrentPosition()">Locate Me</button>
            </span>
            <input type="text" ng-autocomplete ng-model="autocomplete" options="autocompleteOptions" details="details" id="input-location" class="form-control" placeholder="Enter your suburb or postcode" required />
        </div>
        <br />
        <div class="form-group">
            <button type="button" class="btn btn-primary">
                <!--<i class="fa-location-arrow" aria-hidden="true"></i>-->
                <span>Find Waves</span>
            </button>
        </div>
    </div>
    <div ng-if="currentLocationIsSet()">
        <div>Latitude: {{currentLocation.Latitude}}, Longitude: {{currentLocation.Longitude}}</div>
        <div>{{currentLocation.Address.Format()}}</div>
        <div>Wind {{currentLocation.Weather.wind_dir}} {{currentLocation.Weather.wind_kph}} KPH</div>
        <div>Measured at {{currentLocation.Weather.observation_location.full}}</div>
    </div>
</section>
