<section class="row" data-ng-controller="AuthenticationController">
    <div class="container-fluid main-content">
    <h3 class="col-md-12 text-center">Sign up using your social accounts</h3>

    <div class="col-md-12 text-center">
        <a href="/auth/facebook" class="undecorated-link">
            <img src="/img/buttons/facebook.png">
        </a>
        <a href="/auth/twitter" class="undecorated-link">
            <img src="/img/buttons/twitter.png">
        </a>
        <a href="/auth/google" class="undecorated-link">
            <img src="/img/buttons/google.png">
        </a>
        <a href="/auth/linkedin" class="undecorated-link">
            <img src="/img/buttons/linkedin.png">
        </a>
        <a href="/auth/github" class="undecorated-link">
            <img src="/img/buttons/github.png">
        </a>
    </div>
    <h3 class="col-md-12 text-center">Or with your email</h3>

    <div class="col-md-12">
        <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset class="contact">

                <div class="form-group">
                    <input type="text" required id="firstName" name="firstName" class="form-control"
                           data-ng-model="credentials.firstName" placeholder="First Name"/>
                </div>

                <div class="form-group">
                    <input type="text" id="lastName" name="lastName" class="form-control"
                           data-ng-model="credentials.lastName" placeholder="Last Name"/>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input type="email" name="email" placeholder="Email" class="form-control" data-ng-model="credentials.email"/>
                    </div>
                </div>


                <div class="form-group has-feedback">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username"/>
                    </div>
                </div>


                <div class="form-group has-feedback">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" name="password" class="form-control"
                           data-ng-model="credentials.password" placeholder="Password" />
                    </div>
                </div>


                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Sign up</button>
                    &nbsp; or&nbsp;
                    <a href="/#!/signin" class="show-signup">Sign in</a>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
            </div>
</section>
