<section data-ng-controller="WavesController" data-ng-init="find()" >
    <div class="page-header">
    </div>

        <div class="list-group">
            <a ng-repeat="wave in waves" data-ng-href="#!/waves/{{wave._id}}" class="list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="wave.Name"></h4>
                <small class="list-group-item-text">
                    <div>Swell Direction: {{join(wave.SwellDirection)}}</div>
                    <div>Wind Direction: {{join(wave.WindDirection)}}</div>
                    <div>Swell Size: {{wave.SwellSize}}</div>
                </small>

            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!waves.$resolved || waves.length">
        No Waves yet, why don't you <a href="/#!/waves/create">create one</a>?
    </div>
</section>

