<section data-ng-controller="LocationController">

    <div class="form-horizontal">
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="setLocationFromCurrentPosition()">
                <!--<i class="fa-location-arrow" aria-hidden="true"></i>-->
                <span>Locate Me</span>
            </button>
        </div>
        <div class="form-group">
            <label class="control-label sr-only" for="input-location">Location</label>
            <div class="controls">
                <input type="text" ng-autocomplete ng-model="autocomplete" options="options" details="details"
                       id="input-location" class="form-control" placeholder="Find Location" required>
            </div>
        </div>
    </div>

    <div>Latitude: {{currentLocation.Latitude}}, Longitude: {{currentLocation.Longitude}}</div>
    <div>{{currentLocation.Address.Format()}}</div>
</section>

